body{
    display: grid;
    /* grid-template-columns: 1fr;  */
    grid-template-rows: 50px auto auto;
    grid-template-areas: "header" "intro" "map-title" "main_content" "footer";
    background-color: palevioletred;
    gap: 10px;
    /* height: 100vh; */
}

header{
    grid-area: header;
}

#footer{
    grid-area: footer;
}

.fit-picture{
    height: 370px;
    width: 300px;
}

.intro {
    grid-area: intro;
}

.main{
    grid-area: main_content;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "main_map content";
    display: grid;
}

#contents{
    grid-area: content;
    display: grid;
    grid-template-rows: 1fr 3fr; 
    grid-template-areas: "title" "buttonHome" "survey";
}

#the_map{
    height:80vh;
    grid-area: main_map;
}

#theSurvey{
    grid-area: survey;
}

#placeForButtons{
    grid-area: buttonHome;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}

#titlemap{
    grid-area: map-title;
    font-size: 35px;
}